/*************
Basic Styles
***************/
body{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

}

article  {
	width: 30%;
	border: 1px solid lightblue;
	flex-direction: column;
	margin-top: 20px;

}

.productTitle {
	border: 1px dotted lightgray;
	text-align: center;
}

.description {
  flex-direction: column;
}

.productImage {
	align-self: center;
}
.productDescription{
	text-align: center;
}

.specifications header,
.specifications p,
.pricing header,
.pricing p {
	font-weight: bold;
}

.avail {
	background-color: darkgrey;
}

/*****************
Flex formating
***************/

.flex {
	display: flex;
}